version = "1.0"

[main]
services = []

    [main.state]
    name = ""
    visible = "false"

        [main.state.state]
        type = "string"

        [main.state.last_run]
        type = "string"

    [main.general]
        [main.general.info]
        ask = """\
        Backup state : {{state}}
        Last run: {{last_run}}
        """
        type = "alert"
        style = "info"

        [main.general.ynh_repo]
        ask.en = "Use YunoHost default repository"
        ask.fr = "Utiliser le dépôt par défaut de YunoHost"
        type = "boolean"
        help.en = "`Yes` Backups will be stored in YunoHost's local backups directory and will be visible in the backups menu.<br>`No` You must configure the method and repository."
        help.fr = "`Oui` Les sauvegardes seront stockées dans le répertoire des sauvegardes locales de YunoHost et seront visibles dans le menu des sauvegardes.<br>`Non` Vous devez configurer la méthode et le dépot."


        [main.general.method]
        ask.en = "Method"
        ask.fr = "Méthode"
        visible = "!ynh_repo"
        type = "select"
        choices.local = "Local filesystem"
        choices.drive = "External drive"
        choices.rclone = "Rclone"
        choices.scp = "SCP"
        choices.send_to_drive = "Send to external drive"
        choices.send_to_rclone = "Send to Rclone"
        choices.send_to_scp = "Send to SCP"
        help.en = "**Local filesystem** The repository corresponds to a folder on the server.<br>**External drive** The repository corresponds to a partition on a disk that will be mounted and then unmounted during the backup.<br>**Rclone** The repository corresponds to a configured Rclone repository.<br>**SCP** The repository corresponds to a SSH server (using SCP command).<br>**Send to external drive** Only send archives from YunoHost's local backups directory to an external drive. (no new backup created)<br>**Send to Rclone** Only send archives from YunoHost's local backups directory to a configured Rclone repository.(no new backup created)<br>**Send to Rclone** Only send archives from YunoHost's local backups directory to a configured SCP repository.(no new backup created)"
        help.fr = "**Local filesystem** le dépôt correspond à un dossier sur le serveur.<br>**External drive** le dépôt correspond à une partition sur un disque qui sera monté puis démonté durant le backup.<br>**Rclone** le dépot correspond à un dépôt Rclone configuré.<br>**SCP** The dépôt correspond à un serveur SSH (en utilisant la commande SCP).<br>**Send to external drive** Envoie uniquement les archives du répertoire de sauvegardes locales de YunoHost vers un disque externe. (aucune nouvelle sauvegarde créée)<br>**Send to Rclone** Envoie uniquement les archives du répertoire de sauvegardes locales de YunoHost vers un dépôt Rclone configuré. (aucune nouvelle sauvegarde créée)<br>**Send to SCP** Envoie uniquement les archives du répertoire de sauvegardes locales de YunoHost vers un dépôt SCP configuré. (aucune nouvelle sauvegarde créée)"

        # Local method repository configuration (shown only for local method)
        [main.general.local_repository]
        ask.en = "Local directory"
        ask.fr = "Répertoire local"
        visible = "!ynh_repo && method == 'local'"
        type = "string"
        help.en = "Enter an existing directory on server"
        help.fr = "Saisir un répertoire existant sur le serveur"

        # Drive method repository configuration (shown only for drive, send_to_drive method)
        [main.general.drive_repository]
        ask.en = "Drive partition"
        ask.fr = "Partition sur un disque"
        visible = "!ynh_repo && ( method == 'drive' || method == 'send_to_drive' )"
        type = "string"
        help.en = "Enter a partition on a hard drive (e.g. /dev/sdb1).\n**Do not choose a system partition!** (it will be unmounted and then mounted during the backup)\nThe archives will be stored in the **ynh_archives** subdirectory."
        help.fr = "Saisir une partition sur un disque dur (ex : /dev/sdb1).\n**Ne pas choisir une partition du système !** (elle sera démontée puis montée durant le backup)\nLes archives seront stockées dans le sous-répertoire **ynh_archives**."
        pattern.regexp = '^\/.*$'
        pattern.error.en = "Drive partition has to be in format `/xxx/xxxx`"
        pattern.error.fr = "La partition doit être au foramt ou `/xxx/xxxx`"

        [main.general.mounted_drive]
        ask.en  = "Mounted drive verification (You should save before)..."
        ask.fr  = "Vérification du point de montage du lecteur (Vous devez sauvegarder avant)..."
        visible = "!ynh_repo && ( method == 'drive' || method == 'send_to_drive' ) && drive_repository != ''"
        type = "alert"
        style = "info"

        # Rclone method repository configuration (shown only for rclone, send_to_rclone method)
        [main.general.rclone_repository]
        ask.en = "Rclone repo"
        ask.fr = "Dépôt Rclone"
        visible = "!ynh_repo && ( method == 'rclone' || method == 'send_to_rclone' )"
        type = "string"
        help.en = "Enter a configured Rclone repository (e.g. pcloud-repo) without the trailing ':'.\nThe archives will be stored in the **ynh_archives** subdirectory."
        help.fr = "Saisir le nom d'un dépôt (repo) Rclone configuré (ex: pcloud-repo) sans les ':' à la fin.\nLes archives seront stockées dans le sous-répertoire **ynh_archives**."

        [main.general.rclone_version]
        ask = "Rclone version: {{rclone_version}}"
        visible = "!ynh_repo && ( method == 'rclone' || method == 'send_to_rclone' )"
        type = "alert"
        style = "info"

        # Scp method repository configuration (shown only for scp, send_to_scp method)
        [main.general.scp_repository]
        ask.en = "SSH server and directory"
        ask.fr = "Serveur SSH et répertoire"
        visible = "!ynh_repo && ( method == 'scp' || method == 'send_to_scp' )"
        type = "string"
        pattern.regexp = '^([a-zA-Z0-9._-]+@)?[a-zA-Z0-9._-]+:/.+$'
        pattern.error.en = "String as to be in format host:/absolute/destination/path or user@host:/absolute/destination/path"
        pattern.error.fr = "La chaine doit être au format host:/repertoire/absolu ou user@host:/repertoire/absolu"
        help.en = "Enter destination like **host:/absolute/destination/path** or **user@host:/absolute/destination/path**\nConnection to host as to be passwordless (see help)"
        help.fr = "Saisir la destination sous la forme **host:/repertoire/absolu** ou **user@host:/repertoire/absolu**\nLa connexion au host doit se faire sans mot de passe (voir l'aide)"

        # Incremental configuration

        [main.general.is_incremental]
        ask.en = "Incremental backup"
        ask.fr = "Sauvegarde Incrémentale"
        visible = "method != 'send_to_drive' && method != 'send_to_rclone' && method != 'send_to_scp'"
        type = "boolean"
        help.en = "`Yes` Incremental backups will be performed which can save more space but need to get full and increments backups to be restored manually."
        help.fr = "`Oui` Des sauvegardes incrémentales seront réalisées ce qui permet de sauvegarder beaucoup de place mais nécessitera de réaliser une restauration manuelle à partir du backup complet avec ses incréments."

        [main.general.max_incremental_number]
        ask.en = "Max increments"
        ask.fr = "Incréments maximums"
        visible = "is_incremental"
        type = "number"
        help.en = "Maximum number of increments before doing a new complete backup."
        help.fr = "Nombre maximum d'increments avant de réaliser une nouvelle sauvegarde complète."


        [main.general.on_calendar]
        ask.en = "When and at which frequency should the backups be performed?"
        ask.fr = "Quand et à quelle fréquence les sauvegardes doivent-elles être effectuées ?"
        type = "string"
        help.en = "For example: `Monthly`, `Weekly`, `Daily` (=every day at midnight), `Hourly`, `Sat *-*-1..7 18:00:00` (=the first saturday of every month at 18:00), `4:00` (=every day at 4 AM), `5,17:00` (=every day at 5 AM and 5 PM). See the [systemd OnCalendar format for full syntax doc](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"
        help.fr = "Par exemple: `Monthly`, `Weekly`, `Daily` (=tous les jours à minuit), `Hourly`, `Sat *-*-1..7 18:00:00` (=le 1er samedi de chaque mois à 18:00), `4:00` (=tous les jours à 4h), `5,17:00` (=tous les jours à 5h00 et 17h00). Voir [systemd OnCalendar format pour la syntaxe complète](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"
        bind = "OnCalendar:/etc/systemd/system/__APP__.timer"
        
        [main.general.mailalert]
        ask.en = "Email alert"
        ask.fr = "Alerte par e-mail"
        type = "select"
        choices.always = "Always"
        choices.errors_only = "Only if an error occured"
        choices.never = "Never alert me"
        help.en = "Alerts are sent to the admins group"
        help.fr = "Les alertes sont envoyés aux membres du groupe admins"

        [main.general.keep]
        ask.en = "How many backups do you want to keep?"
        ask.fr = "Combien de sauvegarde souhaitez-vous conserver ?"
        visible = "method != 'send_to_rclone' && method != 'send_to_drive'"
        help.en = "Enter `all` to keep all archives for each backup.<br>Enter an integer between `0 and n` to delete old archives if space is needed (`0` can delete everything, `n` will keep at least `n`)"
        help.fr = "Saisir `all` pour conserver toutes les archives à chaque sauvegarde.<br>Saisir un entier entre `0 et n` pour supprimer les anciennes archives si on a besoin de place (`0` peut tout supprimer, `n` en conservera minimum `n`)"
        type = "string"
        pattern.regexp = '^(all)|([0-9]+)$'
        pattern.error.en = "Value has to be a number or `all`"
        pattern.error.fr = "La valeur doit être un nombre ou `all`"

        [main.general.debug]
        ask.en = "Debug mode"
        ask.fr = "Mode debug"
        type = "boolean"
        help.en = "Enable debug mode to get more information in the logs. It is recommended to enable it only if you have a problem."
        help.fr = "Activer le mode debug pour obtenir plus d'informations dans les logs. Il est recommandé de l'activer uniquement si vous avez un problème."
        
        
    [main.content]
    name.en = "What should be backed up?"
    name.fr = "Qu'est ce qui devrait être sauvegardé ?"
    visible = "method != 'send_to_rclone' && method != 'send_to_drive' && method != 'send_to_scp'"
    optional = false

        [main.content.save_system_conf]
        ask.en = "Configuration"
        ask.fr = "Configuration"
        help.en = "SSL certificates, YunoHost configurations, Manually modified configurations, User database, specific conf hooks (begin with XX-conf....)"
        help.fr = "Certificats SSL, Configurations YunoHost, Configurations modifées manuellement, Bases de données utiliateurs, hooks spécifiques de conf (commencent par XX-conf...)"
        type = "boolean"

        [main.content.save_data]
        ask.en = "Data"
        ask.fr = "Données"
        help.en = "User data located in /home/USER user mails, user mails, specific data hooks (begin with XX-data...)."
        help.fr = "Données utilisataurs situées dans /home/USER, mails utilisateurs, hooks spécifiques de données (commencent par XX-data...)."
        type = "boolean"

        [main.content.save_data_multimedia]
        ask.en = "Data multimedia"
        ask.fr = "Données multimedia"
        help.en = "Multimedia data stored in /home/yunohost.multimedia. Warn, this option doesn't consider .nobackup file!"
        help.fr = "Données multimédia stockées dans /home/yunohost.multimedia. Attention, si cette option est activée, elle ne tient pas compte du fichier .nobackup !"
        type = "boolean"

        [main.content.save_apps]
        ask.en = "Apps"
        ask.fr = "Applications"
        type = "tags"
        help.en = "App list separated by comma. You can write 'all' to select all apps, even those installed after this yeb app. You can also select all apps but some apps by writing 'exclude:' following by an app list separated by comma."
        help.fr = "Liste des applications à sauvegarder séparées par une virgule. Mettre `all` pour sauvegarder toutes les applications. Vous pouvez également sélectionner toutes les applications en en excluant certaines en mettant `exclude:` devant le nom des applications séparées par des virgules."

[list]
name.en = "Last backups list"
name.fr = "Liste des dernières sauvegardes"
services = []
    [list.list]
    name = ""
        [list.list.last_backups]
        ask.en = ""
        type = "markdown"
